In [1]:
import pandas as pd

# Extract raw data from the downloaded car price dataset

In [6]:
# Load the dataset
df = pd.read_csv("../data/inputs/raw/CarPrice_Assignment.csv")
# Preview the data
df.head(5)

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

Check how many rows/columns it has.

In [ ]:
# Shape of the data
df.shape

(205, 26)

Look for data types and missing values

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

# Identify Potential Data Issues

In [ ]:
# Check for missing values
df.isnull().sum()

car_ID              0
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

In [13]:
# Check for duplicates
df.duplicated().sum()

0

### Column Summary

In [19]:
# Summary of all columns: data type, nulls, unique values, example values
summary = pd.DataFrame({
    'dtype': df.dtypes,
    'nulls': df.isnull().sum(),
    'unique_values': df.nunique(),
    'example_values': df.apply(lambda x: x.unique()[:5])
})

summary

,dtype,nulls,unique_values,example_values
car_ID,int64,0,205,"[1, 2, 3, 4, 5]"
symboling,int64,0,6,"[3, 1, 2, 0, -1]"
fueltype,object,0,2,"[gas, diesel]"
aspiration,object,0,2,"[std, turbo]"
doornumber,object,0,2,"[two, four]"
carbody,object,0,5,"[convertible, hatchback, sedan, wagon, hardtop]"
drivewheel,object,0,3,"[rwd, fwd, 4wd]"
enginelocation,object,0,2,"[front, rear]"
wheelbase,float64,0,53,"[88.6, 94.5, 99.8, 99.4, 105.8]"
carlength,float64,0,75,"[168.8, 171.2, 176.6, 177.3, 192.7]"
carwidth,float64,0,44,"[64.1, 65.5, 66.2, 66.4, 66.3]"
carheight,float64,0,49,"[48.8, 52.4, 54.3, 53.1, 55.7]"
curbweight,int64,0,171,"[2548, 2823, 2337, 2824, 2507]"
enginetype,object,0,7,"[dohc, ohcv, ohc, l, rotor]"
cylindernumber,object,0,7,"[four, six, five, three, twelve]"
enginesize,int64,0,44,"[130, 152, 109, 136, 131]"
fuelsystem,object,0,8,"[mpfi, 2bbl, mfi, 1bbl, spfi]"
boreratio,float64,0,38,"[3.47, 2.68, 3.19, 3.13, 3.5]"
stroke,float64,0,37,"[2.68, 3.47, 3.4, 2.8, 3.19]"
compressionratio,float64,0,32,"[9.0, 10.0, 8.0, 8.5, 8.3]"
horsepower,int64,0,59,"[111, 154, 102, 115, 110]"
peakrpm,int64,0,23,"[5000, 5500, 5800, 4250, 5400]"
citympg,int64,0,29,"[21, 19, 24, 18, 17]"
highwaympg,int64,0,30,"[27, 26, 30, 22, 25]"
price,float64,0,189,"[13495.0, 16500.0, 13950.0, 17450.0, 15250.0]"
CarBrand,object,0,27,"[alfa-romero, audi, bmw, chevrolet, dodge]"

Check unique brands

In [26]:
df['CarBrand'].value_counts()

CarBrand
toyota         31
nissan         18
mazda          15
honda          13
mitsubishi     13
subaru         12
peugeot        11
volvo          11
dodge           9
volkswagen      9
bmw             8
buick           8
audi            7
plymouth        7
saab            6
isuzu           4
porsche         4
alfa-romero     3
jaguar          3
chevrolet       3
vw              2
maxda           2
renault         2
toyouta         1
vokswagen       1
mercury         1
porcshce        1
Name: count, dtype: int64

Check for Duplicates in Brands

In [27]:
df["CarBrand"] = df["CarBrand"].replace({
    "vw" : "volkswagen",
    "vokswagen" : "volkswagen",
    "porcshce" : "porsche",
    "maxda" : "mazda",
    "toyouta" : "toyota"
})

In [28]:
df["CarBrand"].value_counts()

CarBrand
toyota         32
nissan         18
mazda          17
mitsubishi     13
honda          13
volkswagen     12
subaru         12
peugeot        11
volvo          11
dodge           9
buick           8
bmw             8
audi            7
plymouth        7
saab            6
porsche         5
isuzu           4
jaguar          3
chevrolet       3
alfa-romero     3
renault         2
mercury         1
Name: count, dtype: int64

Review numeric values

In [37]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
symboling,205.0,0.834146,1.245307,-2.00,0.00,1.00,2.00,3.00
wheelbase,205.0,98.756585,6.021776,86.60,94.50,97.00,102.40,120.90
carlength,205.0,174.049268,12.337289,141.10,166.30,173.20,183.10,208.10
carwidth,205.0,65.907805,2.145204,60.30,64.10,65.50,66.90,72.30
carheight,205.0,53.724878,2.443522,47.80,52.00,54.10,55.50,59.80
curbweight,205.0,2555.565854,520.680204,1488.00,2145.00,2414.00,2935.00,4066.00
enginesize,205.0,126.907317,41.642693,61.00,97.00,120.00,141.00,326.00
boreratio,205.0,3.329756,0.270844,2.54,3.15,3.31,3.58,3.94
stroke,205.0,3.255415,0.313597,2.07,3.11,3.29,3.41,4.17
compressionratio,205.0,10.142537,3.972040,7.00,8.60,9.00,9.40,23.00
horsepower,205.0,104.117073,39.544167,48.00,70.00,95.00,116.00,288.00
peakrpm,205.0,5125.121951,476.985643,4150.00,4800.00,5200.00,5500.00,6600.00
citympg,205.0,25.219512,6.542142,13.00,19.00,24.00,30.00,49.00
highwaympg,205.0,30.751220,6.886443,16.00,25.00,30.00,34.00,54.00
price,205.0,13276.710571,7988.852332,5118.00,7788.00,10295.00,16503.00,45400.00

In [41]:
df[['CarBrand', 'price']].sort_values(by='price', ascending=False).head()

    CarBrand    price
74     buick  45400.0
16       bmw  41315.0
73     buick  40960.0
128  porsche  37028.0
17       bmw  36880.0

In [45]:
# Convert symboling to categorical since it's not a continuous variable
df['symboling'] = df['symboling'].astype('category')
df.head()

,symboling,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,...,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,CarBrand
0,3,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0,alfa-romero
1,3,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0,alfa-romero
2,1,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,...,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0,alfa-romero
3,2,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,...,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0,audi
4,2,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,...,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0,audi

Clean Text Data in Categorical Columns

In [57]:
#Identify all text columns (type = object)
cat_cols = df.select_dtypes(include='object').columns

#Loop through each and apply text cleaning
for col in cat_cols:
    df[col] = df[col].str.lower().str.strip()

# Check the cleaned values
for col in cat_cols:
    print(f"Unique values in {col}: {df[col].unique()}\n")

Unique values in fueltype: ['gas' 'diesel']

Unique values in aspiration: ['std' 'turbo']

Unique values in doornumber: ['two' 'four']

Unique values in carbody: ['convertible' 'hatchback' 'sedan' 'wagon' 'hardtop']

Unique values in drivewheel: ['rwd' 'fwd' '4wd']

Unique values in enginelocation: ['front' 'rear']

Unique values in enginetype: ['dohc' 'ohcv' 'ohc' 'l' 'rotor' 'ohcf' 'dohcv']

Unique values in cylindernumber: ['four' 'six' 'five' 'three' 'twelve' 'two' 'eight']

Unique values in fuelsystem: ['mpfi' '2bbl' 'mfi' '1bbl' 'spfi' '4bbl' 'idi' 'spdi']

Unique values in CarBrand: ['alfa-romero' 'audi' 'bmw' 'chevrolet' 'dodge' 'honda' 'isuzu' 'jaguar'
 'mazda' 'buick' 'mercury' 'mitsubishi' 'nissan' 'peugeot' 'plymouth'
 'porsche' 'renault' 'saab' 'subaru' 'toyota' 'volkswagen' 'volvo']

Review Numeric Columns for Outliers

In [60]:
# Check for very low prices or invalid values
df[df["price"] < 1000]

# Cars with very low horsepower
df[df["horsepower"] < 40]

# Cars with very small engine size
df[df["enginesize"] < 50]

Empty DataFrame
Columns: [symboling, fueltype, aspiration, doornumber, carbody, drivewheel, enginelocation, wheelbase, carlength, carwidth, carheight, curbweight, enginetype, cylindernumber, enginesize, fuelsystem, boreratio, stroke, compressionratio, horsepower, peakrpm, citympg, highwaympg, price, CarBrand, price_per_hp, power_to_weight]
Index: []

[0 rows x 27 columns]

In [63]:
df[["CarBrand", "price"]].sort_values(by="price", ascending=False).head()

    CarBrand    price
74     buick  45400.0
16       bmw  41315.0
73     buick  40960.0
128  porsche  37028.0
17       bmw  36880.0

I added derived metrics such as price per horsepower and power-to-weight ratio to better understand performance-to-cost characteristics across car brands.

In [55]:
# Create new columns based on existing ones
df['price_per_hp'] = df['price'] / df['horsepower']
df['power_to_weight'] = df['horsepower'] / df['curbweight']
df.head(5)

,symboling,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,...,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,CarBrand,price_per_hp,power_to_weight
0,3,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,2.68,9.0,111,5000,21,27,13495.0,alfa-romero,121.576577,0.043564
1,3,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,2.68,9.0,111,5000,21,27,16500.0,alfa-romero,148.648649,0.043564
2,1,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,...,3.47,9.0,154,5000,19,26,16500.0,alfa-romero,107.142857,0.054552
3,2,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,...,3.40,10.0,102,5500,24,30,13950.0,audi,136.764706,0.043646
4,2,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,...,3.40,8.0,115,5500,18,22,17450.0,audi,151.739130,0.040722

### Convert All Column Names to Lowercase

In [64]:
df.columns = df.columns.str.lower()

In [65]:
df.head()

,symboling,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,...,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,carbrand,price_per_hp,power_to_weight
0,3,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,2.68,9.0,111,5000,21,27,13495.0,alfa-romero,121.576577,0.043564
1,3,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,2.68,9.0,111,5000,21,27,16500.0,alfa-romero,148.648649,0.043564
2,1,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,...,3.47,9.0,154,5000,19,26,16500.0,alfa-romero,107.142857,0.054552
3,2,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,...,3.40,10.0,102,5500,24,30,13950.0,audi,136.764706,0.043646
4,2,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,...,3.40,8.0,115,5500,18,22,17450.0,audi,151.739130,0.040722

# Final ETL Checklist

Check for any remaining missing values

In [66]:
df.isnull().sum()

symboling           0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
carbrand            0
price_per_hp        0
power_to_weight     0
dtype: int64

Check for duplicate rows

In [67]:
df.duplicated().sum()

0

Confirm categorical and numerical columns look right

In [69]:
cat_cols = df.select_dtypes(include="object").columns
num_cols = df.select_dtypes(include=["int64", "float64"]).columns

print("Categorical:", cat_cols.tolist())
print("Numerical:", num_cols.tolist())

Categorical: ['fueltype', 'aspiration', 'doornumber', 'carbody', 'drivewheel', 'enginelocation', 'enginetype', 'cylindernumber', 'fuelsystem', 'carbrand']
Numerical: ['wheelbase', 'carlength', 'carwidth', 'carheight', 'curbweight', 'enginesize', 'boreratio', 'stroke', 'compressionratio', 'horsepower', 'peakrpm', 'citympg', 'highwaympg', 'price', 'price_per_hp', 'power_to_weight']

Convert Categorical Columns to category Type

In [73]:
categorical_cols = ["fueltype", "aspiration", "doornumber", "carbody", "drivewheel", "enginelocation", "enginetype", "cylindernumber", "fuelsystem", "carbrand"]

for col in categorical_cols:
    df[col] = df[col].astype("category")

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 27 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   symboling         205 non-null    category
 1   fueltype          205 non-null    category
 2   aspiration        205 non-null    category
 3   doornumber        205 non-null    category
 4   carbody           205 non-null    category
 5   drivewheel        205 non-null    category
 6   enginelocation    205 non-null    category
 7   wheelbase         205 non-null    float64
 8   carlength         205 non-null    float64
 9   carwidth          205 non-null    float64
 10  carheight         205 non-null    float64
 11  curbweight        205 non-null    int64
 12  enginetype        205 non-null    category
 13  cylindernumber    205 non-null    category
 14  enginesize        205 non-null    int64
 15  fuelsystem        205 non-null    category
 16  boreratio         205 non-null    float64
 17  stroke            205 non-null    float64
 18  compressionratio  205 non-null    float64
 19  horsepower        205 non-null    int64
 20  peakrpm           205 non-null    int64
 21  citympg           205 non-null    int64
 22  highwaympg        205 non-null    int64
 23  price             205 non-null    float64
 24  carbrand          205 non-null    category
 25  price_per_hp      205 non-null    float64
 26  power_to_weight   205 non-null    float64
dtypes: category(11), float64(10), int64(6)
memory usage: 30.8 KB

# Save the cleaned dataset

In [75]:
df.to_csv('../data/inputs/cleaned/cleaned_car_data.csv', index=False)